<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fancy Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">CodeNow</a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/">Home</a></li>
            @if(autheticationService.checkUser()){
                <li><a href="/code">GetCodes</a></li>
                <li><a (click)="autheticationService.signoutUser()" class="signup-btn">Signout</a></li>
            }
            @else {
                <li><a routerLink="/login"class="login-btn">Login</a></li>
                <li><a routerLink="/signup" class="signup-btn">Signup</a></li>
            }
        </ul>
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <script>
        const menuIcon = document.querySelector('.menu-icon');
        const navLinks = document.querySelector('.nav-links');
        menuIcon.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script>
</body>
</html>
